@page "{id:int}"
@model TurismoApp.Pages.Clientes.ClienteDeleteModel
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h2>Excluir Cliente</h2>

<h3>Você tem certeza que deseja excluir este cliente?</h3>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nome</dt>
        <dd class="col-sm-10">@Model.Cliente?.Nome</dd>

        <dt class="col-sm-2">E-mail</dt>
        <dd class="col-sm-10">@Model.Cliente?.Email</dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Cliente.Id" />
        <button type="submit" class="btn btn-danger">Excluir</button>
        <a asp-page="./Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
